<h1>Extracting Information from Excel files</h1>

In [2]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

m16=pd.read_excel (r'C:\trabajo\conavi\2016_modalidad.xlsx')
m16m=pd.read_excel (r'C:\trabajo\conavi\2016_modalidad_monto.xlsx')
m17=pd.read_excel (r'C:\trabajo\conavi\2017_modalidad.xlsx')
m17m=pd.read_excel (r'C:\trabajo\conavi\2017_modalidad_monto.xlsx')
m18=pd.read_excel (r'C:\trabajo\conavi\2018_modalidad.xlsx')
m18m=pd.read_excel (r'C:\trabajo\conavi\2018_modalidad_monto.xlsx')
m19=pd.read_excel (r'C:\trabajo\conavi\2019_modalidad.xlsx')
m19m=pd.read_excel (r'C:\trabajo\conavi\2019_modalidad_monto.xlsx')
i19=pd.read_excel (r'C:\trabajo\conavi\2019_modalidad_infonavit.xlsx')
i19m=pd.read_excel (r'C:\trabajo\conavi\2019_modalidad_infonavit_monto.xlsx')
i18=pd.read_excel (r'C:\trabajo\conavi\2018_modalidad_infonavit.xlsx')
i18m=pd.read_excel (r'C:\trabajo\conavi\2018_modalidad_infonavit_monto.xlsx')
i17=pd.read_excel (r'C:\trabajo\conavi\2017_modalidad_infonavit.xlsx')
i17m=pd.read_excel (r'C:\trabajo\conavi\2017_modalidad_infonavit_monto.xlsx')
i16=pd.read_excel (r'C:\trabajo\conavi\2016_modalidad_infonavit.xlsx')
i16m=pd.read_excel (r'C:\trabajo\conavi\2016_modalidad_infonavit_monto.xlsx')
f16=pd.read_excel (r'C:\trabajo\conavi\2016_modalidad_foviste.xlsx')
f16m=pd.read_excel (r'C:\trabajo\conavi\2016_modalidad_foviste_monto.xlsx')
f17=pd.read_excel (r'C:\trabajo\conavi\2017_modalidad_foviste.xlsx')
f17m=pd.read_excel (r'C:\trabajo\conavi\2017_modalidad_foviste_monto.xlsx')
f18=pd.read_excel (r'C:\trabajo\conavi\2018_modalidad_foviste.xlsx')
f18m=pd.read_excel (r'C:\trabajo\conavi\2018_modalidad_foviste_monto.xlsx')
f19=pd.read_excel (r'C:\trabajo\conavi\2019_modalidad_foviste.xlsx')
f19m=pd.read_excel (r'C:\trabajo\conavi\2019_modalidad_foviste_monto.xlsx')
f19.head()

     mes          estado                       esquema       modalidad  Total
0  enero  Aguascalientes                   Alia2+ Plus  Vivienda Nueva      2
1    NaN             NaN                           NaN  Vivienda Usada      1
2    NaN             NaN  Fovissste infonavit conyugal  Vivienda Nueva      1
3    NaN             NaN                     Respalda2  Vivienda Usada      1
4    NaN             NaN                   Tradicional  Vivienda Nueva     19

<h1>Transforming CONAVI data</h1>

In [3]:
m16.insert(2,"ano","2016") 
m16m.insert(2,"ano","2016")
m17.insert(2,"ano","2017") 
m17m.insert(2,"ano","2017")
m18.insert(2,"ano","2018") 
m18m.insert(2,"ano","2018")
m19.insert(2,"ano","2019") 
m19m.insert(2,"ano","2019")
i19.insert(2,"ano","2019") 
i19m.insert(2,"ano","2019")
i19.insert(3,"intermediario_financiero","INFONAVIT")
i19m.insert(3,"intermediario_financiero","INFONAVIT")
i18.insert(2,"ano","2018") 
i18m.insert(2,"ano","2018")
i18.insert(3,"intermediario_financiero","INFONAVIT")
i18m.insert(3,"intermediario_financiero","INFONAVIT")
i17.insert(2,"ano","2017") 
i17m.insert(2,"ano","2017")
i17.insert(3,"intermediario_financiero","INFONAVIT")
i17m.insert(3,"intermediario_financiero","INFONAVIT")
i16.insert(2,"ano","2016") 
i16m.insert(2,"ano","2016")
i16.insert(3,"intermediario_financiero","INFONAVIT")
i16m.insert(3,"intermediario_financiero","INFONAVIT")

In [4]:
f19.insert(2,"ano","2019") 
f19m.insert(2,"ano","2019")
f19.insert(3,"intermediario_financiero","FOVISSSTE")
f19m.insert(3,"intermediario_financiero","FOVISSSTE")
f18.insert(2,"ano","2018") 
f18m.insert(2,"ano","2018")
f18.insert(3,"intermediario_financiero","FOVISSSTE")
f18m.insert(3,"intermediario_financiero","FOVISSSTE")
f17.insert(2,"ano","2017") 
f17m.insert(2,"ano","2017")
f17.insert(3,"intermediario_financiero","FOVISSSTE")
f17m.insert(3,"intermediario_financiero","FOVISSSTE")
f16.insert(2,"ano","2016") 
f16m.insert(2,"ano","2016")
f16.insert(3,"intermediario_financiero","FOVISSSTE")
f16m.insert(3,"intermediario_financiero","FOVISSSTE")

In [5]:
f19.head()

,mes,estado,ano,intermediario_financiero,esquema,modalidad,Total
0,enero,Aguascalientes,2019,FOVISSSTE,Alia2+ Plus,Vivienda Nueva,2
1,NaN,NaN,2019,FOVISSSTE,NaN,Vivienda Usada,1
2,NaN,NaN,2019,FOVISSSTE,Fovissste infonavit conyugal,Vivienda Nueva,1
3,NaN,NaN,2019,FOVISSSTE,Respalda2,Vivienda Usada,1
4,NaN,NaN,2019,FOVISSSTE,Tradicional,Vivienda Nueva,19

In [6]:
f19m.head()

,mes,estado,ano,intermediario_financiero,esquema,modalidad,Total
0,enero,Aguascalientes,2019,FOVISSSTE,Alia2+ Plus,Vivienda Nueva,566844.16
1,NaN,NaN,2019,FOVISSSTE,NaN,Vivienda Usada,150224.36
2,NaN,NaN,2019,FOVISSSTE,Fovissste infonavit conyugal,Vivienda Nueva,554663.14
3,NaN,NaN,2019,FOVISSSTE,Respalda2,Vivienda Usada,467395.26
4,NaN,NaN,2019,FOVISSSTE,Tradicional,Vivienda Nueva,15097062.01

In [7]:
m16[['mes', 'estado','ano','intermediario_financiero','modalidad']] = m16[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
m16m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = m16m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
m17[['mes', 'estado','ano','intermediario_financiero','modalidad']] = m17[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
m17m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = m17m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
m18[['mes', 'estado','ano','intermediario_financiero','modalidad']] = m18[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
m18m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = m18m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
m19[['mes', 'estado','ano','intermediario_financiero','modalidad']] = m19[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
m19m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = m19m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
i19[['mes', 'estado','ano','intermediario_financiero','modalidad']] = i19[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
i19m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = i19m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
i18[['mes', 'estado','ano','intermediario_financiero','modalidad']] = i18[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
i18m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = i18m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
i17[['mes', 'estado','ano','intermediario_financiero','modalidad']] = i17[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
i17m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = i17m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
i16[['mes', 'estado','ano','intermediario_financiero','modalidad']] = i16[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
i16m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = i16m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')

In [8]:
f19[['mes', 'estado','ano','intermediario_financiero','modalidad']] = f19[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
f19m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = f19m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
f18[['mes', 'estado','ano','intermediario_financiero','modalidad']] = f18[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
f18m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = f18m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
f17[['mes', 'estado','ano','intermediario_financiero','modalidad']] = f17[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
f17m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = f17m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
f16[['mes', 'estado','ano','intermediario_financiero','modalidad']] = f16[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')
f16m[['mes', 'estado','ano','intermediario_financiero','modalidad']] = f16m[['mes', 'estado','ano','intermediario_financiero','modalidad']].fillna(method='ffill')

In [9]:
m16['key']=m16['ano']+m16['mes']+m16['estado']+m16['intermediario_financiero']+m16['modalidad']
m16m['key']=m16m['ano']+m16m['mes']+m16m['estado']+m16m['intermediario_financiero']+m16m['modalidad']
m17['key']=m17['ano']+m17['mes']+m17['estado']+m17['intermediario_financiero']+m17['modalidad']
m17m['key']=m17m['ano']+m17m['mes']+m17m['estado']+m17m['intermediario_financiero']+m17m['modalidad']
m18['key']=m18['ano']+m18['mes']+m18['estado']+m18['intermediario_financiero']+m18['modalidad']
m18m['key']=m18m['ano']+m18m['mes']+m18m['estado']+m18m['intermediario_financiero']+m18m['modalidad']
m19['key']=m19['ano']+m19['mes']+m19['estado']+m19['intermediario_financiero']+m19['modalidad']
m19m['key']=m19m['ano']+m19m['mes']+m19m['estado']+m19m['intermediario_financiero']+m19m['modalidad']
i19['key']=i19['ano']+i19['mes']+i19['estado']+i19['intermediario_financiero']+i19['modalidad']
i19m['key']=i19m['ano']+i19m['mes']+i19m['estado']+i19m['intermediario_financiero']+i19m['modalidad']
i18['key']=i18['ano']+i18['mes']+i18['estado']+i18['intermediario_financiero']+i18['modalidad']
i18m['key']=i18m['ano']+i18m['mes']+i18m['estado']+i18m['intermediario_financiero']+i18m['modalidad']
i17['key']=i17['ano']+i17['mes']+i17['estado']+i17['intermediario_financiero']+i17['modalidad']
i17m['key']=i17m['ano']+i17m['mes']+i17m['estado']+i17m['intermediario_financiero']+i17m['modalidad']
i16['key']=i16['ano']+i16['mes']+i16['estado']+i16['intermediario_financiero']+i16['modalidad']
i16m['key']=i16m['ano']+i16m['mes']+i16m['estado']+i16m['intermediario_financiero']+i16m['modalidad']
f19['key']=f19['ano']+f19['mes']+f19['estado']+f19['intermediario_financiero']+f19['modalidad']
f19m['key']=f19m['ano']+f19m['mes']+f19m['estado']+f19m['intermediario_financiero']+f19m['modalidad']
f18['key']=f18['ano']+f18['mes']+f18['estado']+f18['intermediario_financiero']+f18['modalidad']
f18m['key']=f18m['ano']+f18m['mes']+f18m['estado']+f18m['intermediario_financiero']+f18m['modalidad']
f17['key']=f17['ano']+f17['mes']+f17['estado']+f17['intermediario_financiero']+f17['modalidad']
f17m['key']=f17m['ano']+f17m['mes']+f17m['estado']+f17m['intermediario_financiero']+f17m['modalidad']
f16['key']=f16['ano']+f16['mes']+f16['estado']+f16['intermediario_financiero']+f16['modalidad']
f16m['key']=f16m['ano']+f16m['mes']+f16m['estado']+f16m['intermediario_financiero']+f16m['modalidad']

In [10]:
c16=pd.merge(m16,m16m,on='key',how='left')
c17=pd.merge(m17,m17m,on='key',how='left')
c18=pd.merge(m18,m18m,on='key',how='left')
c19=pd.merge(m19,m19m,on='key',how='left')
if19=pd.merge(i19,i19m,on='key',how='left')
if18=pd.merge(i18,i18m,on='key',how='left')
if17=pd.merge(i17,i17m,on='key',how='left')
if16=pd.merge(i16,i16m,on='key',how='left')
fv19=pd.merge(f19,f19m,on='key',how='left')
fv18=pd.merge(f18,f18m,on='key',how='left')
fv17=pd.merge(f17,f17m,on='key',how='left')
fv16=pd.merge(f16,f16m,on='key',how='left')
f19.head()
#f19m.head()

,mes,estado,ano,intermediario_financiero,esquema,modalidad,Total,key
0,enero,Aguascalientes,2019,FOVISSSTE,Alia2+ Plus,Vivienda Nueva,2,2019eneroAguascalientesFOVISSSTEVivienda Nueva
1,enero,Aguascalientes,2019,FOVISSSTE,NaN,Vivienda Usada,1,2019eneroAguascalientesFOVISSSTEVivienda Usada
2,enero,Aguascalientes,2019,FOVISSSTE,Fovissste infonavit conyugal,Vivienda Nueva,1,2019eneroAguascalientesFOVISSSTEVivienda Nueva
3,enero,Aguascalientes,2019,FOVISSSTE,Respalda2,Vivienda Usada,1,2019eneroAguascalientesFOVISSSTEVivienda Usada
4,enero,Aguascalientes,2019,FOVISSSTE,Tradicional,Vivienda Nueva,19,2019eneroAguascalientesFOVISSSTEVivienda Nueva

In [11]:
cons_union=pd.concat([c16, c17,c18,c19,if19,if18,if17,if16,fv19,fv18,fv17,fv16])

C:\Users\430010950\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [12]:
cons=cons_union.loc[:,['ano_x','mes_x','estado_x','intermediario_financiero_x','modalidad_x','Total_x','Total_y']]
cons_final=cons.rename(columns={"ano_x":"ano","mes_x":"mes","estado_x":"estado","intermediario_financiero_x":"cliente","modalidad_x":"modalidad","Total_x":"acciones","Total_y":"monto"})
cons_final.head()

,ano,mes,estado,cliente,modalidad,acciones,monto
0,2016,enero,Aguascalientes,Afirme,Viviendas nuevas,1.0,500000.0
1,2016,enero,Aguascalientes,Afirme,Viviendas usadas,1.0,2043000.0
2,2016,enero,Aguascalientes,BBVA Bancomer,Mejoramientos,2.0,400000.0
3,2016,enero,Aguascalientes,BBVA Bancomer,Otros programas,1.0,4603245.0
4,2016,enero,Aguascalientes,BBVA Bancomer,Viviendas nuevas,38.0,23514447.0

<h1>Exporting data to LOAD into Postgresql</h1>

In [ ]:
export_csv = cons_final.to_csv (r'C:\trabajo\conavi\consolidado.csv', index = None, header=True) 
export_csv = cons_final.to_csv (r'C:\trabajo\conavi\consolidado2.csv', index = True, header=True)

In [124]:
resume=pd.pivot_table(cons_final,index=["cliente"],columns=['ano'],values=['acciones','monto'],aggfunc='max')
resume

                       acciones                                       monto  \
ano                        2016      2017      2018      2019          2016
cliente
Afirme                     30.0      32.0      29.0      17.0  3.937160e+07
Autofin                     3.0       5.0       2.0       1.0  1.271621e+07
BBVA Bancomer             396.0     323.0     346.0     240.0  3.047306e+08
Banamex                   151.0     182.0     541.0     437.0  1.444858e+08
Banca Mifel             23149.0    5167.0    3280.0    8411.0  9.908571e+07
Banco Ahorro Famsa         24.0       3.0       2.0       1.0  6.500000e+06
Banco Azteca                2.0       1.0       1.0       1.0  1.500000e+07
Banco Bancrea             766.0    1438.0       1.0       NaN  2.397493e+07
Banco del Bajío            22.0     305.0      23.0      13.0  2.758388e+07
Banorte/Ixe               414.0     330.0     273.0     247.0  3.602589e+08
Banregio                   38.0      32.0      34.0      24.0  6.244010e+07
Bansí                       2.0       1.0       1.0       2.0  2.000000e+07
CIBanco                   208.0     373.0     399.0     819.0  1.000000e+07
FOVISSSTE               99081.0   62547.0   49313.0   21988.0  4.107926e+10
HSBC                      118.0     114.0     174.0     173.0  1.450626e+08
INFONAVIT              452207.0  533792.0  544588.0  256719.0  1.157599e+11
Inbursa                    34.0       9.0       5.0       4.0  5.287783e+07
Inmobiliario Mexicano       3.0       1.0       1.0       NaN  2.660000e+06
Interacciones               1.0       2.0       1.0       NaN  1.000000e+07
Invex                       1.0       NaN       1.0       1.0  5.025834e+06
Monex                     183.0     358.0     291.0      70.0  5.861026e+06
Multiva                   840.0     789.0       1.0       3.0  2.244406e+07
Santander                 746.0     135.0      88.0      53.0  2.358916e+08
Santander Hipotecario       2.0       NaN       NaN       NaN  1.301106e+06
Santander Vivienda         15.0       NaN       NaN       NaN  1.053120e+07
Scotiabank                430.0     396.0    1687.0     267.0  3.110103e+08
Ve por Más                203.0     719.0    1655.0     878.0  2.561505e+07


ano                            2017          2018          2019
cliente
Afirme                 5.598161e+07  1.030000e+08  4.448890e+07
Autofin                2.000000e+07  3.390059e+07  3.120000e+07
BBVA Bancomer          4.445626e+08  5.170218e+08  3.910771e+08
Banamex                2.656990e+08  2.796367e+08  2.913766e+08
Banca Mifel            1.975847e+08  1.751073e+08  4.148941e+08
Banco Ahorro Famsa     6.668884e+06  8.500000e+06  6.293700e+06
Banco Azteca           3.050000e+07  4.140000e+06  4.500000e+06
Banco Bancrea          3.830515e+07  5.140500e+04           NaN
Banco del Bajío        3.819866e+08  4.047748e+07  2.208853e+07
Banorte/Ixe            6.659915e+08  6.552330e+08  6.215056e+08
Banregio               8.723187e+07  6.779819e+07  5.171050e+07
Bansí                  4.933729e+06  1.200000e+07  3.500000e+06
CIBanco                9.693521e+06  1.578693e+07  1.480000e+08
FOVISSSTE              3.531503e+10  3.408052e+10  1.544711e+10
HSBC                   2.309342e+08  4.585238e+08  4.688190e+08
INFONAVIT              1.384381e+11  1.447675e+11  6.632402e+10
Inbursa                3.439600e+07  1.438156e+07  1.115171e+07
Inmobiliario Mexicano  1.760000e+06  2.500000e+06           NaN
Interacciones          2.289992e+06  3.423997e+07           NaN
Invex                  9.000000e+06  1.870406e+06  1.287805e+06
Monex                  9.544255e+06  8.489809e+06  2.000242e+06
Multiva                2.463000e+07  1.846400e+07  1.026290e+08
Santander              3.039379e+08  1.113131e+08  1.084891e+08
Santander Hipotecario           NaN           NaN           NaN
Santander Vivienda              NaN           NaN           NaN
Scotiabank             8.028236e+08  2.648764e+09  5.337620e+08
Ve por Más             2.971494e+07  7.979422e+07  6.719913e+07